* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ebrima';
    color: var(--secondary);
}

header {
    background-color: var(--dark2);
    position: sticky;
    top: 0;
    z-index: 30;
    padding: 10px 0;
    /*border-radius: 0 0 10px 10px;
    border-bottom: 0.5px solid var(--secondary); */
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.794);
    transition: 0.5s;
}

/*Hacemos responsive la pagina*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Contiene todos los colores primarios y secundarios 
que utilizará la página */
:root {
    --primary: #18c4db;
    --primary2: #0575E6;
    --primary3: #dcf4fd;
    --primary4: #0044a0;
    --secondary: white;
    --secondary-light: rgb(173, 173, 173);
    --dark1: #222222;
    --dark2: #050505;
    --darkblue: #00031E;
    --yellow: #ffc207;
}

.navbar {
    /*Posicionamos los elementos a la esquina derecha */
    display: flex;
    justify-content: flex-end;
}



/* Icono para cambiar el tema */
.theme-toggler {
    position: absolute;
    top: 11px;
    right: 628px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
  }
  .theme-toggler::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 30px;
    border-radius: 50px;
    background-color: var(--dark1);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5), inset 0 2px 2px rgba(255, 255, 255, 0.2), inset 0 -2px 2px rgba(255, 255, 255, 0.2);
    z-index: -1;
    border: 1px solid var(--dark1);
    transition: 0.5s;
  }

.theme-toggler.active{
    color: white;
}

.theme-toggler.active::before {
    background-color: var(--dark1);
  }

.radio-inner {
    position: relative;
    width: 23px;
    height: 23px;
    vertical-align: middle;
    background: radial-gradient(yellow, var(--yellow));
    border-radius: 50%;
    transition: all 0.5s;
    overflow: hidden;
    box-shadow: 0 0 0 1.5px rgba(255, 251, 0, 0.5);
    top: 4px;
    left: 3px;
  }

.theme-toggler .radio-inner::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark1);
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.5s;
}

.radio-inner.active {
    transform: translateX(calc(71px - 29px));
}

.radio-inner.active::before {
    left: -43%;
    transform: scale(1);
}


.navbar ul {
    margin-right: 10px;
    display: flex;
    list-style: none;
    gap: 13px;
}

.navbar .icon_link {
    position: relative;
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
    color: var(--primary);
    transition: 0.5s;
}
  
.navbar .icon_link:hover {
    background: var(--primary);
    border-radius: 8px;
    color: var(--dark2);
    transition: 0.4s;
}

.hero {
    background-color: var(--dark2);
    position: relative;
    transition: 0.5s;
}

.hero img {
    border-radius: 30px;
    width: 100%;
    height: 530px;
    /*opacity: 0.35;*/
}


/*circle profile */
.profile div {
    position: absolute;
}

.profile {
    /*Centramos y acomodamos los elementos */
    display: flex;
    justify-content: center;
}

.profile-img img{
    filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.7));
}

.square {
    width: 420px;
    height: 465px;
    max-width: 420px;
    background-color: var(--dark1);
    opacity: 0.7;
    z-index: 10;
    top: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*Ocultamos las luces que salen del cuadro*/
    overflow: hidden;
    transition: 0.5s;
}

.square span {
    position: absolute;
    inset: 5px;
    background-color: var(--dark1);
    border-radius: 6px;
    z-index: 1;
}

.circle-trans {
    width: 290px;
    height: 290px;
    border-radius: 50%;
    border: solid 30px var(--primary);
    opacity: .2;
    z-index: 19;
    top: 90px;
    transition: 0.5s;
}

.circle {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: solid 15px var(--primary);
    z-index: 21;
    top: 120px;
    transition: 0.5s;
}

.profile-img {
    top: 134px;
    z-index: 20;
}

.profile-img img {
    width: 202px;
    height: 202px;
    border-radius: 50%;
}


.square-text {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--secondary);
    top: 380px;
    z-index: 11;
    transition: 0.5s;
}

.square-text2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--secondary);
    top: 418px;
    z-index: 11;
    transition: 0.5s;
}

.message {
    cursor: pointer;
}

.square-text3 {
    margin-top: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--secondary);
    top: 490px;
    z-index: 11;
}

.square-text3:hover {
    border-bottom: var(--primary) solid;
}

.square-text3 a{
    text-decoration: none;
    color: var(--secondary);
    transition: 0.5s;
}

.contact-icon {
    top: 450px;
    z-index: 11;
}

.contact-icon img {
    width: 40px;
    margin: 2px 10px;
}

.contact-icon img:hover {
    /*Agranda las imagenes al pasar el mouse*/
    transform: scale(1.2);
}

span {
    color: var(--primary);
    transition: 0.5s;
}


/* Briefcase */
#briefcase {
    background: var(--dark1);
    transition: 0.5s;
}

.briefcase {
    background-color: var(--dark1);
    transition: 0.5s;
}

.briefcase-section h2 {
    padding: 40px;
    text-align: center;
}

.briefcase-grid {
    display: grid;
    /*Con autofit hacemos que todos los elementos se creen dependiendo del 
    tamaño de la pantalla*/
    grid-template-columns: repeat(auto-fit,minmax(290px,auto));
    /*Separamos las imagenes*/
    gap: 18px;
    width: 90%;
    margin: 0 auto;
}

.briefcase-grid img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.2s ease;
    filter: drop-shadow(-2px 2px 8px rgba(0, 0, 0, 0.7));
}



.briefcase-grid img:hover {
    transform: scale(1.1);
}


/* Skills */
section.skills {
    background-color: var(--dark1);
    transition: 0.5s;
}

.skill {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(340px,auto));
    justify-content: center;
    gap: 100px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 110px;
    
}

.skill h2 {
    padding-bottom: 60px;
    text-align: center;
}

.skill img {
    width: 90px;
    filter: drop-shadow(-2px 2px 6px rgba(0, 0, 0, 0.7));
}

.skill #PHP {
    width: 110px;
   
}

.skill #MYSQL {
    width: 110px;
    
}

.knowledge {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(70px,auto));
    justify-content: center;
    gap: 25px;
}

.tools {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(70px,auto));
    justify-content: center;
    gap: 25px;
}


/* efectos de tooltips */
.skill h3 {
    background-color: var(--dark2);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    font-size: 1.1rem;
    color: var(--primary);
    width: 100px;
    transform: translate(0px, -100px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 0;
}

.knowledge>div:hover h3 {
    opacity: 1;
    transform: translate(0px, -150px);
}

.tools>div:hover h3 {
    opacity: 1;
    transform: translate(0px, -150px);
}



/* about */
.about {
    background-color: var(--dark2);
    transition: 0.5s;
}

.about-flex {
    display: flex;
    width: 90%;
    margin: 0 auto;
    /*50px arriba, 0px a los lados y 200px abajo*/
    padding: 50px 0 200px;
}

.about p {
    font-size: 1.5rem;
    /*Separamos el parrafo de los bordes*/
    width: 90%;
    text-align: justify;
    margin: 0 auto;
    /*Separación entre lineas*/
    line-height: 2.5rem;
    color: var(--secondary-light);
    transition: 0.5s;
}

.social {
    border-left: var(--secondary) 5px solid;
    padding-left: 50px;
}

.social img {
    width: 60px;
    margin: 10px;
}

.social img:hover {
    transform: scale(1.2);
}


/* Media Query para hacerlo responsivo */
/*Media query para la imagen*/
@media screen and (max-width: 940px) {
    .hero img {
        height: 500px;
    }
}

@media screen and (max-width: 840px) {
    .hero img {
        height: 470px;
    }
    .square {
        width: 400px;
        height: 445px;
    }
    .circle-trans {
        width: 270px;
        height: 270px;
        border-radius: 50%;
        border: solid 30px var(--primary);
    }
    .circle {
        width: 210px;
        height: 210px;
        border-radius: 50%;
        border: solid 15px var(--primary);
    }
    .profile-img img {
        width: 182px;
        height: 182px;
    }
    .square-text {
        font-size: 1.4rem;
        top: 360px;
    }
    .square-text2 {
        font-size: 1rem;
        top: 390px;
    }
    .square-text3 {
        margin-top: 5px;
        font-size: 1.1rem;
        top: 470px;
    }
    .contact-icon {
        top: 430px;
    }
    .contact-icon img {
        width: 30px;
    }
}
@media screen and (max-width: 740px) {
    .hero img {
        height: 430px;
    }
    .square {
        width: 370px;
        height: 405px;
    }
    .circle-trans {
        width: 240px;
        height: 240px;
        border-radius: 50%;
        border: solid 30px var(--primary);
    }
    .circle {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: solid 15px var(--primary);
    }
    .profile-img img {
        width: 162px;
        height: 162px;
    }
    .square-text {
        font-size: 1.4rem;
        top: 335px;
    }
    .square-text2 {
        font-size: 1rem;
        top: 365px;
    }
    .square-text3 {
        margin-top: 5px;
        font-size: 1.1rem;
        top: 440px;
    }
    .contact-icon {
        top: 400px;
    }
    .contact-icon img {
        width: 30px;
    }
}
@media screen and (max-width: 640px) {
    .hero img {
        height: 400px;
    }

    .navbar .icon_link {
      font-size: 0; /* Ocultar texto */
    }
  
    .navbar i {
      font-size: 1.5rem; /* Mostrar solo iconos */
      padding: 10px;
    }

    .navbar li:hover {
        background: var(--primary);
        border-radius: 8px;
        color: var(--dark2);
        transition: 0.2s;
    }

    .theme-toggler {
        right: 348px;
        top: 15px;
    }

    .square {
        width: 320px;
        height: 365px;
    }


    .circle-trans {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: solid 30px var(--primary);
    }
    
    .circle {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        border: solid 15px var(--primary);
    }
    
    .profile-img img {
        width: 110px;
        height: 110px;
    }
    
    .square-text {
        font-size: 1.4rem;
        top: 290px;
    }
    
    .square-text2 {
        font-size: 1rem;
        top: 320px;
    }
    
    .square-text3 {
        margin-top: 5px;
        font-size: 1.1rem;
        top: 400px;
    }
    
    .contact-icon {
        top: 350px;
    }
    
    .contact-icon img {
        width: 30px;
    }

    .about-flex {
        display: block;
        width: 90%;
        margin: 0 auto;
        /*50px arriba, 0px a los lados y 200px abajo*/
        padding: 50px 0 100px;
    }
    

    .about p {
        font-size: 1.2rem;
        /*Separamos el parrafo de los bordes*/
        width: 90%;
        margin: 0 auto;
        /*Separación entre lineas*/
        line-height: 2.4rem;
    }
    
    .social {
        border-top: var(--secondary) 5px solid;
        border-left: 0;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

  }




/* Modals */
.eins-modal-content {
    max-width: 900px;
    background-color: var(--dark1);
}

.eins-modal-close {
    color: var(--secondary);
    border: 0px;
}

.eins-modal-close:hover {
    color: var(--secondary);
}



/* Slider */
.eins-modal-preview {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    /*Ocultamos las imagenes que se salen*/
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    border: 5px solid var(--secondary);
}

.slider {
    /*Ponemos las imagenes a lado de la otra con flex*/
    display: flex;
    width: 2400%;
    /*
    height: 400px;*/
    /*Enfocamos la primera imagen*/
    margin-left: -100%;
}



.slider__section {
    width: 100%;
}

.slider__img {
    display: block;
    width: 100%;
    /*Para que las imagenes no se estiren*/
    object-fit: cover;
    
}

.slider__btn {
    color: var(--dark2);
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn:hover {
    background-color: var(--secondary);
}

.slider__btn--left {
    left: 10px;
}

.slider__btn--right {
    right: 10px;
}


.slider2 {
    /*Ponemos las imagenes a lado de la otra con flex*/
    display: flex;
    width: 600%;
    /*
    height: 400px;*/
    /*Enfocamos la primera imagen*/
    margin-left: -100%;
}

.slider__section2 {
    width: 100%;
}

.slider__img2 {
    display: block;
    width: 100%;
    /*Para que las imagenes no se estiren*/
    object-fit: cover;
}

.slider__btn2 {
    color: var(--dark2);
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn2:hover {
    background-color: var(--secondary);
}

.slider__btn--left2 {
    left: 10px;
}

.slider__btn--right2 {
    right: 10px;
}


.eins-modal-preview img {
    width: 100%;
    /*0 arriba, 0 a la derecha, 20 abajo y 0 a la izquierda*/
    padding: 0 0 0 0;
    align-items: center;
}

.eins-modal-text {
   margin: 0 auto;
}

.eins-modal-text span {
    font-weight: bold;
}

.eins-modal-text p {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.eins-modal-text li {
    margin-left: 20px;
}

.eins-modal-text-2 {
    /*50 arriba, 0 a los lados, 10 abajo*/
    padding: 10px 0 4px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.eins-modal-text-2 a {
    color: var(--secondary);
}

.btn_enlace {
    background: var(--primary);
    padding: 8px 12px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.btn_enlace:hover {
    background: #15b2c7;
}

.btn_enlace i {
    font-size: 25px;
}

.eins-modal-tec img {
    width: 50px;
    height: 50px;
    margin: 2px;
}

 #php{
    width: 70px;
    height: 70px;
    /*Alinear la imagen en medio*/
    vertical-align: -10px;
}

#mysql {
    width: 70px;
}



/* contact form */
form {
    max-width: 500px;
    display: flex;
    /*Que los elementos esten uno abajo del otro*/
    flex-direction: column;
    margin: 0 auto;
}

.form>label>input {
    font-family: 'Ebrima';
    font-size: 16px;
    background-color: var(--dark2);
    border-radius: 10px;
    /* 10px arriba y abajo, 10px a los lados*/
    padding: 10px 10px;
    color: var(--secondary);
    /* Desaparecer hover del borde por defecto */
    outline: none;
    opacity: .6;
    width: 100%;
    justify-content: flex-end;
    border: 1px solid var(--secondary-light);
}

.form>label>textarea {
    font-family: 'Ebrima';
    font-size: 16px;
    background-color: var(--dark2);
    border-radius: 10px;
    padding: 20px;
    color: var(--secondary);
    outline: none;
    opacity: .7;
    width: 100%;
    justify-content: flex-end;
    border: 1px solid var(--secondary-light);
}

label {
    padding: 5px;
}

.form>button {
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 300px;
    margin: auto;
    border: 1px solid var(--secondary-light);
}

.form>button:hover {
    background-color: #20a5b7; 
}




/*Tema dark*/
.portafolio.dark header{
    background-color: var(--primary2);
	background: -webkit-linear-gradient(to right, #021B79, #0575E6);
	background: linear-gradient(to right, #021B79, #0575E6);
    box-shadow: 0px 10px 10px -6px var(--dark1);
}

.portafolio.dark .navbar .icon_link {
        padding: 10px;
        text-decoration: none;
        color: var(--primary3);
       
}

.portafolio.dark .navbar .icon_link:hover {
    color: var(--primary2);
    background: -webkit-linear-gradient(to right, #99d3df, var(--primary3));
	background: linear-gradient(to right, #99d3df, var(--primary3));
}

.portafolio.dark .navbar a:hover{
    background-color: var(--primary3);
    color: var(--primary2);
}

/* Media Query para hacerlo responsivo */
@media screen and (max-width: 640px) {

    .portafolio.dark .navbar li:hover {
        background: var(--primary3);
        color: var(--primary4);
    }

  }


 
.portafolio.dark .hero {
    background-color: var(--darkblue);
    position: relative;
}

.portafolio.dark .square {
    background-color: var(--primary3);
    background: -webkit-linear-gradient(to right, #99d3df, var(--primary3));
	background: linear-gradient(to right, #99d3df, var(--primary3));
    
}

.portafolio.dark .square::before {
background-image: conic-gradient(transparent, transparent, transparent, var(--primary4));
}

.portafolio.dark .square::after {
background-image: conic-gradient(transparent, transparent, transparent, var(--primary4));
}

.portafolio.dark .square span {
background-color: var(--primary3);
background: -webkit-linear-gradient(to right, #99d3df, var(--primary3));
	background: linear-gradient(to right, #99d3df, var(--primary3));
}

.portafolio.dark .circle-trans {
    border: solid 30px var(--primary4);
}
        
        
.portafolio.dark .circle {
    border: solid 15px var(--primary4);
    
}

.portafolio.dark .square-text {
    color: var(--dark2);
}

.portafolio.dark .square-text2 {
    color: var(--primary4);
}

.portafolio.dark .square-text3 {
    color: var(--primary4);
}

.portafolio.dark .square-text3:hover {
    border-bottom: var(--primary4) solid;
}

.portafolio.dark .square-text3 a{
    color: var(--secondary);
}

.portafolio.dark span {
    color: var(--primary4);
}

/* Briefcase */
.portafolio.dark #briefcase {
    background: var(--primary3);
    background: -webkit-linear-gradient(to right, #99d3df, var(--primary3));
	background: linear-gradient(to right, #99d3df, var(--primary3));
}

.portafolio.dark .briefcase {
    background-color: var(--primary3);
    background: -webkit-linear-gradient(to right, #99d3df, var(--primary3));
	background: linear-gradient(to right, #99d3df, var(--primary3));
}

/* Skills */
.portafolio.dark section.skills {
    background: var(--primary3);
    background: -webkit-linear-gradient(to right, #99d3df, var(--primary3));
	background: linear-gradient(to right, #99d3df, var(--primary3));
}

/* efectos de tooltips */
.portafolio.dark .skill h3 {
    background-color: var(--dark1);
    color: var(--secondary);
}



/* about */
.portafolio.dark .about {
    background: var(--primary2);
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);
	background: linear-gradient(to right, #021B79, #0575E6);
}

.portafolio.dark .about p {
    color: var(--secondary);
}

.portafolio.dark social {
    border-left: var(--secondary) 5px solid;
}



/* Modals */
.portafolio.dark .eins-modal-content {
    background-color: var(--primary3);
}

.portafolio.dark .eins-modal-close {
    color: var(--dark2);
    border: 0px;
}

.portafolio.dark .eins-modal-close:hover {
    color: var(--dark2);
}

.portafolio.dark .eins-modal-text p {
    color: var(--dark2);
}

.portafolio.dark .eins-modal-text li {
    color: var(--dark2);
}

.portafolio.dark .eins-modal-text-2 a {
    color: var(--dark2);
}

.portafolio.dark .btn_enlace {
    background: var(--primary2);
}

.portafolio.dark .btn_enlace:hover {
    background: #01368a;
}

.portafolio.dark .btn_enlace i {
    color: var(--secondary);
}

/* Slider */
.portafolio.dark .eins-modal-preview {
    border: 5px solid var(--dark2);
}


/* Formulario */
.portafolio.dark .form>label {
    color: var(--dark2);
}

.portafolio.dark .form>label>input {
    background-color: var(--secondary);
    color: var(--dark2);
    border: 1px solid var(--dark1);
}

.portafolio.dark .form>label>textarea {
    background-color: var(--secondary);
    color: var(--dark2);
    border: 1px solid var(--dark1);
}

.portafolio.dark .form>button {
    background-color: var(--primary4);
    color: var(--secondary);
    border: 1px solid var(--dark1);
}

.portafolio.dark .form>button:hover {
    background-color: #0c3f87;
}

.portafolio.dark .contact-icon {
    background-color: var(--dark1);
    border-radius: 10px;
}