* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ebrima';
    color: var(--secondary);
}

/*Hacemos responsive la pagina*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}



/* Contiene todos los colores primarios y secundarios 
que utilizará la página */
:root {
    --primary: #18c4db;
    --secondary: white;
    --secondary-light: rgb(173, 173, 173);
    --dark1: #222222;
    --dark2: #050505;
}

.navbar {
    /*Posicionamos los elementos a la esquina derecha */
    display: flex;
    justify-content: flex-end;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar a {
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin: 20px;
}

.navbar a:hover {
    border-bottom: var(--primary) solid;
}


.hero {
    background-color: var(--dark2);
    position: relative;
}

.hero img {
    width: 100%;
    height: 530px;
    opacity: 0.35;
}


/*circle profile */
.profile div {
    position: absolute;
}

.profile {
    /*Centramos y acomodamos los elementos */
    display: flex;
    justify-content: center;
}

.square {
    width: 420px;
    height: 460px;
    background-color: var(--dark1);
    opacity: 0.7;
    z-index: 10;
    top: 70px;
}

.circle-trans {
    width: 290px;
    height: 290px;
    border-radius: 50%;
    border: solid 30px var(--primary);
    opacity: .2;
    z-index: 19;
    top: 90px;
}

.circle {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: solid 15px var(--primary);
    z-index: 21;
    top: 120px;
}

.profile-img {
    top: 134px;
    z-index: 20;
}

.profile-img img {
    width: 202px;
    height: 202px;
    border-radius: 50%;
}


.square-text {
    font-size: 1.9rem;
    color: var(--secondary);
    top: 380px;
    z-index: 11;
}

.square-text2 {
    font-size: 1.2rem;
    color: var(--secondary);
    top: 418px;
    z-index: 11;
}

.square-text3 {
    font-size: 1.3rem;
    color: var(--secondary);
    top: 490px;
    z-index: 11;
}

.square-text3:hover {
    border-bottom: var(--primary) solid;
}

.square-text3 a{
    text-decoration: none;
    color: var(--secondary);
}

.contact-icon {
    top: 450px;
    z-index: 11;
}

.contact-icon img {
    width: 40px;
    margin: 0 10px;
}

.contact-icon img:hover {
    /*Agranda las imagenes al pasar el mouse*/
    transform: scale(1.2);
}

span {
    color: var(--primary);
}


/* Briefcase */
.briefcase {
    background-color: var(--dark1);
}

.briefcase-section h2 {
    padding: 40px;
    text-align: center;
}

.briefcase-grid {
    display: grid;
    /*Con autofit hacemos que todos los elementos se creen dependiendo del 
    tamaño de la pantalla*/
    grid-template-columns: repeat(auto-fit,minmax(290px,auto));
    /*Separamos las imagenes*/
    gap: 15px;
    width: 90%;
    margin: 0 auto;
}

.briefcase-grid img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

.briefcase-grid img:hover {
    transform: scale(1.1);
}


/* Skills */
section.skills {
    background-color: var(--dark1);
}

.skill {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,auto));
    justify-content: center;
    gap: 170px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 110px;
}

.skill h2 {
    padding-bottom: 60px;
}

.skill img {
    width: 90px;
}

.knowledge {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px,auto));
    justify-content: center;
    gap: 25px;
}

.tools {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px,auto));
    justify-content: center;
    gap: 50px;
}


/* efectos de tooltips */
.skill h3 {
    background-color: var(--dark2);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    font-size: 1.1rem;
    color: var(--primary);
    width: 100px;
    transform: translate(0px, -100px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 0;
}

.knowledge>div:hover h3 {
    opacity: 1;
    transform: translate(0px, -150px);
}

.tools>div:hover h3 {
    opacity: 1;
    transform: translate(0px, -150px);
}



/* about */
.about {
    background-color: var(--dark2);
}

.about-flex {
    display: flex;
    width: 90%;
    margin: 0 auto;
    /*50px arriba, 0px a los lados y 200px abajo*/
    padding: 50px 0 200px;
}

.about p {
    font-size: 1.5rem;
    /*Separamos el parrafo de los bordes*/
    width: 90%;
    margin: 0 auto;
    /*Separación entre lineas*/
    line-height: 2.5rem;
    color: var(--secondary-light);
}

.social {
    border-left: var(--secondary) 5px solid;
    padding-left: 50px;
}

.social img {
    width: 60px;
    margin: 10px;
}

.social img:hover {
    transform: scale(1.2);
}



/* Modals */
.eins-modal-content {
    max-width: 1000px;
    background-color: var(--dark1);
}

.pw-content {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
}

.eins-modal-preview {
    width: 300px;
    /*height: 350px;*/
    margin: 0 auto;
}

.eins-modal-preview img {
    width: 100%;
    height: 100%;
    /*0 arriba, 50 a la derecha, 20 abajo y 0 a la izquierda*/
    padding: 0 50px 20px 0;
}

.eins-modal-text p {
    font-size: 1.1rem;
}

.eins-modal-text-2 {
    /*50 arriba, 0 a los lados, 10 abajo*/
    padding: 50px 0 10px;
}

.eins-modal-text-2 a {
    color: var(--secondary);
    margin: 5px;
}

.eins-modal-text-3 {

}

.eins-modal-tec {
   
}

.eins-modal-tec img {
    width: 50px;
    height: 50px;
}