* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ebrima';
    color: var(--secondary);
}

header {
    background-color: var(--dark2);
    position: sticky;
    top: 0;
    z-index: 30;
    padding: 10px 0;
}

/*Hacemos responsive la pagina*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}



/* Contiene todos los colores primarios y secundarios 
que utilizará la página */
:root {
    --primary: #18c4db;
    --primary2: #00245e;
    --primary3: #e2ffda;
    --primary4: #0044a0;
    --secondary: white;
    --secondary-light: rgb(173, 173, 173);
    --dark1: #222222;
    --dark2: #050505;
}

.navbar {
    /*Posicionamos los elementos a la esquina derecha */
    display: flex;
    justify-content: flex-end;
}



/* Icono para cambiar el tema */
.theme-toggler {
    position: absolute;
    top: 30px;
    right: 500px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
  }
  .theme-toggler::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #fff;
    z-index: -1;
  }

.theme-toggler.active{
    color: white;
}

.theme-toggler.active::before {
    background-color: black;
  }





.navbar ul {
    display: flex;
    list-style: none;
}

.navbar a {
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin: 20px;
}

.navbar a:hover {
    border-bottom: var(--primary) solid;
}


.hero {
    background-color: var(--dark2);
    position: relative;
}

.hero img {
    width: 100%;
    height: 530px;
    opacity: 0.35;
}


/*circle profile */
.profile div {
    position: absolute;
}

.profile {
    /*Centramos y acomodamos los elementos */
    display: flex;
    justify-content: center;
}

.square {
    width: 420px;
    height: 460px;
    background-color: var(--dark1);
    opacity: 0.7;
    z-index: 10;
    top: 70px;
    border-radius: 10px;
}

.circle-trans {
    width: 290px;
    height: 290px;
    border-radius: 50%;
    border: solid 30px var(--primary);
    opacity: .2;
    z-index: 19;
    top: 90px;
}

.circle {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: solid 15px var(--primary);
    z-index: 21;
    top: 120px;
}

.profile-img {
    top: 134px;
    z-index: 20;
}

.profile-img img {
    width: 202px;
    height: 202px;
    border-radius: 50%;
}


.square-text {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--secondary);
    top: 380px;
    z-index: 11;
}

.square-text2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--secondary);
    top: 418px;
    z-index: 11;
}

.square-text3 {
    margin-top: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--secondary);
    top: 490px;
    z-index: 11;
}

.square-text3:hover {
    border-bottom: var(--primary) solid;
}

.square-text3 a{
    text-decoration: none;
    color: var(--secondary);
}

.contact-icon {
    top: 450px;
    z-index: 11;
}

.contact-icon img {
    width: 40px;
    margin: 2px 10px;
}

.contact-icon img:hover {
    /*Agranda las imagenes al pasar el mouse*/
    transform: scale(1.2);
}

span {
    color: var(--primary);
}


/* Briefcase */
.briefcase {
    background-color: var(--dark1);
}

.briefcase-section h2 {
    padding: 40px;
    text-align: center;
}

.briefcase-grid {
    display: grid;
    /*Con autofit hacemos que todos los elementos se creen dependiendo del 
    tamaño de la pantalla*/
    grid-template-columns: repeat(auto-fit,minmax(290px,auto));
    /*Separamos las imagenes*/
    gap: 15px;
    width: 90%;
    margin: 0 auto;
}

.briefcase-grid img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

.briefcase-grid img:hover {
    transform: scale(1.1);
}


/* Skills */
section.skills {
    background-color: var(--dark1);
}

.skill {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(340px,auto));
    justify-content: center;
    gap: 100px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 110px;
    
}

.skill h2 {
    padding-bottom: 60px;
    text-align: center;
}

.skill img {
    width: 90px;
}

.skill #PHP {
    width: 110px;
   
}

.skill #MYSQL {
    width: 110px;
    
}

.knowledge {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(70px,auto));
    justify-content: center;
    gap: 25px;
   
}

.tools {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(70px,auto));
    justify-content: center;
    gap: 25px;
}


/* efectos de tooltips */
.skill h3 {
    background-color: var(--dark2);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    font-size: 1.1rem;
    color: var(--primary);
    width: 100px;
    transform: translate(0px, -100px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 0;
}

.knowledge>div:hover h3 {
    opacity: 1;
    transform: translate(0px, -150px);
}

.tools>div:hover h3 {
    opacity: 1;
    transform: translate(0px, -150px);
}



/* about */
.about {
    background-color: var(--dark2);
}

.about-flex {
    display: flex;
    width: 90%;
    margin: 0 auto;
    /*50px arriba, 0px a los lados y 200px abajo*/
    padding: 50px 0 200px;
}

.about p {
    font-size: 1.5rem;
    /*Separamos el parrafo de los bordes*/
    width: 90%;
    margin: 0 auto;
    /*Separación entre lineas*/
    line-height: 2.5rem;
    color: var(--secondary-light);
}

.social {
    border-left: var(--secondary) 5px solid;
    padding-left: 50px;
}

.social img {
    width: 60px;
    margin: 10px;
}

.social img:hover {
    transform: scale(1.2);
}



/* Modals */
.eins-modal-content {
    max-width: 900px;
    background-color: var(--dark1);
}

.pw-content {
   
}

.eins-modal-preview {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
}

.eins-modal-close {
    color: var(--secondary);
    border: 0px;
}

.eins-modal-close:hover {
    color: var(--secondary);
}



/* Slider */
.eins-modal-preview {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    /*Ocultamos las imagenes que se salen*/
    overflow: hidden;
    box-shadow: 0 0 0 10px var(--secondary);
    position: relative;
}

.slider {
    /*Ponemos las imagenes a lado de la otra con flex*/
    display: flex;
    width: 2400%;
    height: 400px;
    /*Enfocamos la primera imagen*/
    margin-left: -100%;
}

.slider__section {
    width: 100%;
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    /*Para que las imagenes no se estiren*/
    object-fit: cover;
}

.slider__btn {
    color: var(--dark2);
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn:hover {
    background-color: var(--secondary);
}

.slider__btn--left {
    left: 10px;
}

.slider__btn--right {
    right: 10px;
}

.eins-modal-preview img {
    width: 100%;
    /*0 arriba, 0 a la derecha, 20 abajo y 0 a la izquierda*/
    padding: 0 0 0 0;
    align-items: center;
}



.eins-modal-text span {
    font-weight: bold;
}

.eins-modal-text p {
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
}

.eins-modal-text li {
    margin-left: 20px;
}

.eins-modal-text-2 {
    /*50 arriba, 0 a los lados, 10 abajo*/
    padding: 25px 0 10px;
}

.eins-modal-text-2 a {
    color: var(--secondary);
    margin: 5px;
}

.eins-modal-text-3 {

}

.eins-modal-tec {
   
}

.eins-modal-tec img {
    width: 50px;
    height: 50px;
    margin: 2px;
}

 #php{
    width: 70px;
    height: 70px;
    /*Alinear la imagen en medio*/
    vertical-align: -10px;
}

#mysql {
    width: 70px;
}



/* contact form */
form {
    max-width: 400px;
    display: flex;
    /*Que los elementos esten uno abajo del otro*/
    flex-direction: column;
    margin: 0 auto;
}

.form>label>input {
    font-family: 'Ebrima';
    font-size: 16px;
    background-color: var(--dark2);
    border-radius: 10px;
    /* 10px arriba y abajo, 60px a los lados*/
    padding: 10px 60px;
    color: var(--secondary);
    /* Desaparecer hover del borde por defecto */
    outline: none;
    opacity: .7;
    width: 100%;
}

.form>label>textarea {
    font-family: 'Ebrima';
    font-size: 16px;
    background-color: var(--dark2);
    border-radius: 10px;
    padding: 50px;
    color: var(--secondary);
    outline: none;
    opacity: .7;
    width: 100%;
}

label {
    padding: 5px;
}

.form>button {
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 10px;
    padding: 10px;
}




/*Tema dark*/
.portafolio.dark header{
    background-color: var(--primary2);
}

.portafolio.dark .navbar a {
        font-size: 1.5rem;
        padding: 10px;
        text-decoration: none;
        color: var(--primary3);
        margin: 20px;
   
}

.portafolio.dark .navbar a:hover {
    border-bottom: var(--primary3) solid;
}

.portafolio.dark .hero {
    background-color: var();
    position: relative;
}

.portafolio.dark .square {
    background-color: var(--primary3);
}

.portafolio.dark .circle-trans {
    border: solid 30px var(--primary4);
}
        
        
.portafolio.dark .circle {
    border: solid 15px var(--primary4);
}

.portafolio.dark .square-text {
    color: var(--dark2);
}

.portafolio.dark .square-text2 {
    color: var(--primary4);
}

.portafolio.dark .square-text3 {
    color: var(--primary4);
}

.portafolio.dark .square-text3:hover {
    border-bottom: var(--primary4) solid;
}

.portafolio.dark .square-text3 a{
    color: var(--secondary);
}

.portafolio.dark span {
    color: var(--primary4);
}

/* Briefcase */
.portafolio.dark .briefcase {
    background-color: var(--primary3);
}

/* Skills */
.portafolio.dark section.skills {
    background-color: var(--primary3);
}

/* efectos de tooltips */
.portafolio.dark .skill h3 {
    background-color: var(--dark1);
    color: var(--secondary);
}



/* about */
.portafolio.dark .about {
    background-color: var(--primary2);
}

.portafolio.dark .about p {
    color: var(--secondary);
}

.portafolio.dark social {
    border-left: var(--secondary) 5px solid;
}



/* Modals */
.portafolio.dark .eins-modal-content {
    background-color: var(--primary3);
}

.portafolio.dark .eins-modal-close {
    color: var(--dark2);
    border: 0px;
}

.portafolio.dark .eins-modal-close:hover {
    color: var(--dark2);
}

.portafolio.dark .eins-modal-text p {
    color: var(--dark2);
}

.portafolio.dark .eins-modal-text li {
    color: var(--dark2);
}

.portafolio.dark .eins-modal-text-2 a {
    color: var(--dark2);
}

.portafolio.dark .form>label {
    color: var(--dark2);
}

.portafolio.dark .form>label>input {
    background-color: var(--secondary);
    color: var(--dark2);
}

.portafolio.dark .form>label>textarea {
    background-color: var(--secondary);
    color: var(--dark2);
}

.portafolio.dark .form>button {
    background-color: var(--primary4);
    color: var(--secondary);
}

.portafolio.dark .contact-icon {
    background-color: var(--dark1);
    border-radius: 10px;
}

